<p-dialog class="forDropdown" 
    [(visible)]="showThis"
    (onShow)="onShow()"
    [style]="{width: '50vw'}"
    [modal]="true"
    (onHide)="onHide()"
    [draggable]="false">
    <app-ui-preloader [display]="loading_post"></app-ui-preloader>
    <p-header>
        {{title}}
    </p-header>
    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="forms">
          <div class="row mb-2">
            <div class="col-md-2">
              Kode
            </div>
            <div class="col-md-10">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" *ngIf="kode_induk">{{kode_induk}}</span>
                </div>
                <input type="text" placeholder="Kode" class="form-control" formControlName="kdjabar" [readOnly]="mode == 'edit'">
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-md-2">
              Uraian
            </div>
            <div class="col-md-10">
              <textarea type="text" placeholder="Uraian" class="form-control" formControlName="uraian"></textarea>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-md-2">
              Ekspresi
            </div>
            <div class="col-md-10">
              <input type="text"  placeholder="Ekpresi" class="form-control" formControlName="ekspresi" [readOnly]="isHeader"/>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-md-2">
              Tarif
            </div>
            <div class="col-md-10">
              <input type="text" appInputRupiah placeholder="Tarif" class="form-control" formControlName="tarif" [readOnly]="isHeader"/>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-md-2">
              Satuan
            </div>
            <div class="col-md-9">
              <input type="text" placeholder="Uraian" class="form-control" [(ngModel)]="uiSatuan.nama" [ngModelOptions]="{standalone: true}" readonly/>
            </div>
            <div class="col-md-1">
              <button type="button" [disabled]="isHeader" class="btn btn-soft-secondary" (click)="getSatuan()"><i class="fa fa-search"></i></button>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-md-2">
              Type
            </div>
            <div class="col-md-10">
              <p-radioButton name="type" value="H" label="Header" (onClick)="onChangeType('H')" formControlName="type" inputId="opt1" class="mr-2"></p-radioButton>
              <p-radioButton name="type" value="D" label="Detail" (onClick)="onChangeType('D')" formControlName="type" inputId="opt2"></p-radioButton>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p-messages [(value)]="msgs"></p-messages>
      </div>
    </div>
    <p-footer>
      <button type="button" [disabled]="!forms.valid || loading_post" class="btn btn-sm btn-soft-primary mr-1" (click)="simpan()"><i class="fa fa-save mr-1"></i>Simpan</button>
      <button type="button" [disabled]="loading_post" class="btn btn-sm btn-soft-secondary" (click)="onHide()"><i class="fa fa-close mr-1"></i>Kembali</button>
    </p-footer>
  </p-dialog>
  <app-look-jsatuan (callBack)="callBackSatuan($event)"></app-look-jsatuan>