h5{
  font-size: 0.7rem;
}
.card1{
  
    background: linear-gradient(
90deg
, #46c5f2 0%, #6592da 100%);
border-radius: 10px;
}
.card2{
  
  background: linear-gradient(
90deg
, #5af246 0%, #65da9f 100%);
border-radius: 10px;
}
.card3{
  
  background: linear-gradient(
90deg
, #9646f2 0%, #6592da 100%);
border-radius: 10px;
}
.card4{
  
  background: linear-gradient(
90deg
, #f24646 0%, #da9465 100%);
border-radius: 10px;
}
.card5{
  
  background: linear-gradient(90deg, rgb(13, 189, 189) 0%, rgba(221,226,23,1) 35%, rgb(252, 74, 74) 100%);
border-radius: 10px;
}