<p-dialog class="forDropdown" 
    [(visible)]="showThis"
    (onShow)="onShow()"
    [style]="{width: '30vw'}"
    [modal]="true"
    (onHide)="onHide()"
    [draggable]="false">
    <app-ui-preloader [display]="loading_post"></app-ui-preloader>
    <p-header>
        {{title}} Nilai
    </p-header>
    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="forms">
          <div class="row mb-2">
            <div class="col-md-2">
              Bulan
            </div>
            <div class="col-md-10">
              <input type="text" placeholder="Ketarangan" class="form-control" formControlName="ketbulan" [readOnly]="true"/>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-md-2">
              Nilai
            </div>
            <div class="col-md-10">
              <input type="text" appInputRupiah placeholder="Nilai" class="form-control" formControlName="nilai"/>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p-messages [(value)]="msgs"></p-messages>
      </div>
    </div>
    <p-footer>
      <button type="button" [disabled]="!forms.valid || loading_post" class="btn btn-soft-primary" (click)="simpan()"><i class="fa fa-save"></i>&nbsp;Simpan</button>
      <button type="button" [disabled]="loading_post" class="btn btn-soft-secondary" (click)="onHide()"><i class="fa fa-close"></i>&nbsp;Kembali</button>
    </p-footer>
  </p-dialog>