<div class="container-fluid">
  <div class="row mt-2 p-2">
    <div class="card col-md-12">
      <div class="card-title">
        <h4>STS Tanpa Penetapan</h4>
      </div>
    </div>
  </div>
  <div class="row p-2">
    <div class="card col-md-12">
      <div class="card-body">
        <p-tabView [activeIndex]="tabIndex" (onChange)="onChangeTab($event)">
          <p-tabPanel header="Pengajuan">
            <app-sts-pengajuan></app-sts-pengajuan>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </div>
</div>