<div class="container-fluid">
  <div class="row mt-2 p-2">
    <div class="card col-md-12">
      <div class="card-title">
        <h4>BKU Penerimaan</h4>
      </div>
    </div>
  </div>
  <div class="row p-2">
    <div class="card col-md-12">
      <div class="card-body">
        <p-tabView [activeIndex]="tabIndex" (onChange)="onChangeTab($event)">
          <p-tabPanel header="BKU SKPD">
            <app-bku-skpd></app-bku-skpd>
          </p-tabPanel>
          <p-tabPanel header="BKU Penerimaan">
            <app-bku-penerimaan></app-bku-penerimaan>
          </p-tabPanel>
          <p-tabPanel header="BKU Penyetoran">
            <app-bku-penyetoran></app-bku-penyetoran>
          </p-tabPanel>
          <p-tabPanel header="BKU Pengembalian Pendapatan">
            <app-bku-pengembalian-pendapatan></app-bku-pengembalian-pendapatan>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </div>
</div>