<p-dialog class="forCalender" 
    [(visible)]="showThis"
    (onShow)="onShow()"
    [style]="{width: '40vw'}"
    [modal]="true"
    (onHide)="onHide()"
    [maximizable]="true"
    [draggable]="false">
    <app-ui-preloader [display]="loading_post"></app-ui-preloader>
    <p-header>
        {{title}}
    </p-header>
    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="forms">
          <div class="row mb-2">
            <div class="col-md-3">
              Nomor
            </div>
            <div class="col-md-9">
              <input type="text" formControlName="nodp" placeholder="No. DP" class="form-control"[readOnly]="mode == 'edit'"/>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-md-3">
              Tanggal DP
            </div>
            <div class="col-md-5">
              <p-calendar 
                formControlName="tgldp"
                [showIcon]="true" 
                [locale]="indoKalender"
                [monthNavigator]="true"
                yearRange="2000:2030"
                showButtonBar="true"
                [style]="{'width': '100%'}"
                [yearNavigator]="true"></p-calendar>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-md-3">
              Keterangan
            </div>
            <div class="col-md-9">
              <textarea type="text" formControlName="uraian" placeholder="Keterangan" class="form-control" ></textarea>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p-messages [(value)]="msg"></p-messages>
      </div>
    </div>
    <p-footer>
      <button type="button" [disabled]="!forms.valid || loading_post" class="btn btn-success btn-sm" (click)="simpan()"><i class="fa fa-save"></i>&nbsp;Simpan</button>
      <button type="button" [disabled]="loading_post" class="btn btn-secondary btn-sm" (click)="onHide()"><i class="fa fa-close"></i>&nbsp;Kembali</button>
    </p-footer>
  </p-dialog>