<p-dialog [(visible)]="showThis" [style]="{width: '50vw'}" [modal]="true" (onHide)="onHide()" [draggable]="false">
  <p-header>
    {{title}}
  </p-header>
  <div class="row">
    <div class="col-md-12">
      <p-table [value]="listData" [paginator]="true" [rows]="10" [rowHover]="true" #dt [globalFilterFields]="['nomor','tanggal','uraian', 'nilai']" [(selection)]="dataSelected" dataKey="idbpkpajak" [loading]="loading">
        <ng-template pTemplate="caption">
          <div class="row p-2">
            <div class="ui-g-6" style="text-align: left">
             
            </div>
            <div class="col-lg-6 col-md-12 text-right pr-0 pl-0">
              <div class="ui-inputgroup col-lg-6 col-md-12" style="float: right;">
                <span class="ui-inputgroup-addon"><i class="pi pi-search" style="line-height: 1.25;"></i></span>
                <input type="text" class="w-100" pInputText placeholder="Cari Data" (input)="dt.filterGlobal($event.target.value, 'contains')">         
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
              <th style="width: 20%; text-align: center" [pSortableColumn]="'nomor'">Nomor
                <span style="float: right">
                  <p-sortIcon [field]="'nomor'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </span>
              </th>
              <th style="width: 15%;text-align: center" [pSortableColumn]="'tanggal'">Tanggal
                <span style="float: right">
                  <p-sortIcon [field]="'tanggal'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </span>
              </th>
              <th style="width: 38%;text-align: center" [pSortableColumn]="'uraian'">Uraian
                <span style="float: right">
                  <p-sortIcon [field]="'uraian'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </span>
              </th>
              <th style="width: 15%;text-align: center" [pSortableColumn]="'nilai'">Nilai
                <span style="float: right">
                  <p-sortIcon [field]="'nilai'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </span>
              </th>
              <th style="width: 12%; text-align: center">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body"  let-data let-columns="columns" let-rowIndex="rowIndex">
          <tr class="ui-selectable-row" [pSelectableRow]="data" [pSelectableRowIndex]="rowIndex">
            <td style="text-align: center">{{data.nomor}}</td>
            <td style="text-align: center">{{data.tanggal | date: 'dd/MM/yyy'}}</td>
            <td style="text-align: left">{{data.uraian}}</td>
            <td style="text-align: right">{{data.nilai | currency: 'IDR':'Rp. ': '0.2-4'}}</td>
            <td style="text-align: center">
              <p-tableCheckbox [value]="data"></p-tableCheckbox>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
              <td [attr.colspan]="5" style="text-align: center;">
                Data tidak Tersedia
              </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p-messages [(value)]="msg"></p-messages>
    </div>
  </div>
  <p-footer>
    <button type="button" class="btn btn-soft-primary btn-sm mr-1" (click)="pilih();"><i class="fa fa-check mr-1"></i>Pilih</button>
    <button type="button" class="btn btn-soft-secondary btn-sm" (click)="onHide();"><i class="fa fa-close mr-1"></i>Kembali</button>
  </p-footer>
</p-dialog>