<div class="container-fluid">
  <div class="row mt-2 p-2">
    <div class="card col-md-12">
      <div class="card-title">
        <h4>{{ title }}</h4>
      </div>
    </div>
  </div>
  <div class="row p-2">
    <div class="card col-md-12">
      <div class="card-body">
        <p-tabView>
          <p-tabPanel header="Pengajuan">
            <ng-template pTemplate="content">
              <app-pengajuan></app-pengajuan>
            </ng-template>
          </p-tabPanel>
          <p-tabPanel header="Pengesahan">
            <ng-template pTemplate="content">
              <app-pengesahan></app-pengesahan>
            </ng-template>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </div>
</div>