@import './table-custom.scss';
body {
  font-family: Arial, Helvetica, sans-serif;
  .ui-widget {
    font-family: Arial, Helvetica, sans-serif;
  }
  .pi {
    font-size: 1.2em;
  }
  .swal2-popup {
		width: 25em;
		padding: 0.6em;
		font-size: 0.7rem;
	}
  .card{
    margin-bottom: 0px !important;
    .card-body{
      padding: 1rem 0.5rem 1rem 0.5rem !important;
    }
  }
  .ui-messages{
    margin: 0.5em 0;
    font-size: 12px;
  }
  .ui-messages .ui-messages-close {
    top: 0.6em;
    font-size: 1em;
  }
  .ui-messages .ui-messages-icon {
    font-size: 1.5em;
    padding-top: 4px;
  }
}
body.authentication-bg{
  background: #f3f4f7 !important;
}
#sidebar-menu{
  > ul {
    > li {
      > a {
        font-size: 1em;
        padding: 12px 10px;
        i {
          font-size: 18px;
        }
      }
      > ul {
        padding-left: 10px;
        i {
          font-size: 18px;
        }
      }
    }
  }
} 
.forDropdown,
.forCalender {
	.ui-dialog {
		.ui-dialog-content {
			overflow: unset !important;
		}
	}
}
legend{
  font-size: 1rem !important;
}
.ui-calendar {
  position: relative;
  display: inline-flex;
}
.navbar-custom .menu-left {
  padding-left: 37px;
}



// Tab View Style
body {
	.ui-tabview.ui-tabview-top {
		.ui-tabview-nav {
      li{
        background-color: #FFFFFF;
				border: 0px;
        width: auto;
        text-align: center;
        &:hover{
          border: 0px;
        }
        &:focus{
          -webkit-box-shadow: unset;
          -moz-box-shadow: unset;
          box-shadow: unset;
        }
        a {
          color: #696969;
        }
        &:after {
          height: 1.8rem;
          float: right;
          display: inline-flex;
          border-right: 1px solid #696969;
          content: "";
        }
      }
			li.ui-state-active {
        &:hover{
          background-color: #FFFFFF !important;
          border-top: 0px;
          border-left: 0px;
          border-right: 0px;
          border-bottom: 3px solid #007ad9;
          a {
            color: #007ad9;
          }
        }
        &:focus{
          -webkit-box-shadow: unset;
          -moz-box-shadow: unset;
          box-shadow: unset;
        }
				background-color: #FFFFFF;
				border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-bottom: 2px solid #007ad9;
        a {
					color: #007ad9;
				}
        
			}
		}
	}
}