.container{
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  
}
.card-login{
  -webkit-box-shadow: 0 0 5px 2px #A9A9A9;
  box-shadow: 0 0 5px 2px #A9A9A9;
}

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body{
  padding: 40px;
  background-color: #121212;  
}

p {
  border-right: solid 3px rgba(0,255,0,.75);
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  font-size: 15px;
  color: rgba(255,255,255,.70);
}

/* Animation */
p {
  animation: animated-text 4s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 370px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(146, 146, 146, 0.75);}
  to{border-right-color: transparent;}
}

.container-loader{
  width: 100%;
  height: 100%;
}
.loader-wrapper{
  width: 200px;
  height: 200px;
  position: absolute;
  top: 40%;
  left: 45%;
  margin: -25px 0 0 -25px;
}
.loader{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 10px solid #162534;
  border-top-color: #4bc8eb;
  border-bottom-color: #f13a8f;
  border-radius: 50%;
  animation: rotate 5s linear infinite;
}
.loader-inner{
  border-top-color: #36f372;
  border-bottom-color: #fff;
  animation-duration: 2.5s;
}
@keyframes rotate {
  0%{
    transform: scale(1) rotate(360deg);
  }
  50%{
    transform: scale(.8) rotate(-360deg);
  }
  100%{
    transform: scale(1) rotate(360deg);
  }
}