<div class="row mt-2" *ngIf="stsselected">
  <div class="col-md-12">
    <p-table
        dataKey="idkeg"
        [loading]="loading"
        [value]="listdata" 
        [paginator]="true" 
        [rowHover]="true" 
        [rows]="10" 
        #dt 
        [globalFilterFields]="['idrekNavigation.kdper','idrekNavigation.nmper','nilai']">
      <ng-template pTemplate="caption">
        <div class="row p-2">
          <div class="ui-g-6" style="text-align: left">
            <span *ngIf="stsselected">Detail Pengembalian Belanja {{stsselected.nosts}}</span>
          </div>
          <div class="col-lg-6 col-md-12 text-right pr-0 pl-0">
            <div class="ui-inputgroup col-lg-6 col-md-12" style="float: right;">
              <span class="ui-inputgroup-addon"><i class="pi pi-search" style="line-height: 1.25;"></i></span>
              <input type="text" class="w-100" pInputText placeholder="Cari Data" (input)="dt.filterGlobal($event.target.value, 'contains')">         
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 20%; text-align: center" [pSortableColumn]="'idrekNavigation.kdper'">Kode Rekening
            <span style="float: right">
              <p-sortIcon [field]="'idrekNavigation.kdper'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
            </span>
          </th>
          <th style="width: 53%;text-align: center" [pSortableColumn]="'idrekNavigation.nmper'">Nama Rekening
            <span style="float: right">
              <p-sortIcon [field]="'idrekNavigation.nmper'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
            </span>
          </th>
          <th style="width: 17%;text-align: center" [pSortableColumn]="'nilai'">Nilai
            <span style="float: right">
              <p-sortIcon [field]="'nilai'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
            </span>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-expanded="expanded" let-columns="columns">
        <tr class="ui-widget-header" *ngIf="rowGroupMetadata[rowData.idkeg].index === rowIndex">
            <td colspan="3">
                <a href="#" [pRowToggler]="rowData">
                    <i [ngClass]="expanded ? 'fa fa-fw fa-chevron-circle-down' : 'fa fa-fw fa-chevron-circle-right'"></i>
                    <span>{{rowData.idkegNavigation?.nukeg}} - {{rowData.idkegNavigation?.nmkegunit}}</span>
                </a>
            </td>
        </tr>
      </ng-template>
      <ng-template let-data pTemplate="rowexpansion">
        <tr class="ui-selectable-row">
          <td style="text-align: center">{{data.idrekNavigation ? data.idrekNavigation.kdper : '' }}</td>
          <td style="text-align: left">{{data.idrekNavigation ? data.idrekNavigation.nmper : '' }}</td>
          <td style="text-align: right">{{data.nilai | currency: 'IDR':'Rp. ': '0.2-4'}}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="3" style="text-align:center">Data Tidak Tersedia</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>