<section id="pricing-wrap" class="pricing-one-wrap p-t-b-80">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-header mb-5">
                <h2 class="font-weight-bold">Dasar Hukum</h2>
                <p>Aplikasi New SIPKD dalam pengembangannya dibangun berdasarkan regulasi terbaru yang ditetapkan
                    oleh Pemerintah Pusat, dalam hal ini adalah Kementerian Dalam Negeri. Berikut adalah regulasi-regulasi terkait yang mendasari dibangunnya aplikasi ini.</p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 mb-lg-0  mb-4  pricing-single-wrap">
                <div class="card  o-hidden">
                    <div class="card-header  text-center p-3 mb-2">
                        <h3 class="card-title font-weight-bold mb-2 text-uppercase">Permendagri 64</h3>
                        <p class="text-uppercase mb-2">Tahun 2013</p>
                    </div>
                    <div class="card-body pt-0 text-center">

                        <p class="text-uppercase mb-0">
                            <span>Sekilas tentang Permendagri 64 Tahun 2013</span>
                        </p>
                        <div class="offer-lists mb-4">

                            <ul class="list-group  list-group-flush">
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 ">Berisi tentang Penerapan Standar Akuntansi Pemerintahan Berbasis Akrual Pada Pemerintah Daerah</li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                            </ul>

                        </div>

                        <a href="#" class="btn btn-gradient half-button  pl-5 pr-5 pt-2 pb-2 ">Download</a>
                    </div>
                </div>
            </div>
            <!-- end of card -->
            <div class="col-sm-6 col-md-6 col-lg-3 mb-lg-0 mb-md-0 mb-sm-0   pricing-single-wrap">
                <div class="card  o-hidden">
                    <div class="card-header text-center p-3 mb-2">
                        <h3 class="card-title font-weight-bold mb-2 text-uppercase">Permendagri 90</h3>
                        <p class="text-uppercase mb-2">Tahun 2019</p>
                    </div>
                    <div class="card-body pt-0 text-center">

                        <p class="text-uppercase mb-0">
                            <span>Sekilas tentang Permendagri 90 Tahun 2019</span>
                        </p>
                        <div class="offer-lists mb-4">

                            <ul class="list-group  list-group-flush">
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 ">Berisi tentang Klasifikasi, Kodefikasi, dan Nomenklatur Perencanaan Pembangunan dan Keuangan Daerah</li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                            </ul>

                        </div>

                        <a href="#" class="btn btn-gradient half-button  pl-5 pr-5 pt-2 pb-2 ">Download</a>
                    </div>
                </div>
            </div>
            <!-- end of card -->
            <div class="col-sm-6 col-md-6 col-lg-3 mb-lg-0 mb-md-0 mb-sm-0 mb-4  pricing-single-wrap">
                <div class="card  o-hidden">
                    <div class="card-header text-center p-3 mb-2 ">
                        <h3 class="card-title font-weight-bold mb-2 text-uppercase">Kepmendagri 050-378</h3>
                        <p class="text-uppercase mb-0">Tahun 2020</p>
                    </div>
                    <div class="card-body pt-0 text-center">

                        <p class="text-uppercase mb-0">
                            <span>Sekilas tentang Kepmendagri 050-3708  tahun 2020</span>
                        </p>
                        <div class="offer-lists mb-4">

                            <ul class="list-group  list-group-flush">
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 ">Berisi tentang Hasil Verifikasi dan Validasi Pemutakhiran Klasifikasi, Kodefikasi dan Nomenklatur Perencanaan Pembangunan dan Keuangan Daerah</li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 "></li>
                            </ul>

                        </div>

                        <a href="#" class="btn btn-gradient half-button  pl-5 pr-5 pt-2 pb-2 ">Download</a>
                    </div>
                </div>
            </div>
            <!-- end of card -->
            <div class="col-sm-6 col-md-6 col-lg-3 mb-lg-0  mb-4  pricing-single-wrap">
                <div class="card  o-hidden">
                    <div class="card-header text-center p-3 mb-2 bg-gradient text-white">
                        <h3 class="card-title text-white font-weight-bold mb-2 text-uppercase">Permendagri 77</h3>
                        <p class="text-uppercase mb-0">Tahun 2020</p>
                    </div>
                    <div class="card-body pt-0 text-center">

                        <p class="text-uppercase mb-0">
                            <span>Sekilas tentang Permendagri 77 tahun 2020</span>
                        </p>
                        <div class="offer-lists mb-4">

                            <ul class="list-group  list-group-flush">
                                <li class="list-group-item p-1 "></li>
                                <li class="list-group-item p-1 ">Untuk melaksanakan ketentuan Pasal 221 ayat (1) Peraturan Pemerintah Nomor 12 Tahun 2019 tentang Pengelolaan Keuangan Daerah, perlu menetapkan Peraturan Menteri Dalam Negeri tentang Pedoman Teknis Pengelolaan Keuangan Daerah</li>
                            </ul>

                        </div>

                        <a href="#" class="btn btn-gradient half-button  pl-5 pr-5 pt-2 pb-2 ">Download</a>
                    </div>
                </div>
            </div>
            <!-- end of card -->


        </div>
    </div>
</section>
