<div class="container-fluid">
  <div class="row mt-2 p-2">
    <div class="card col-md-12">
      <div class="card-title">
        <h4>{{ title }}</h4>
      </div>
    </div>
  </div>
  <div class="row p-2">
    <div class="card col-md-12">
      <div class="card-body">
        <p-tabView [activeIndex]="tabIndex" (onChange)="onChangeTab($event)">
          <p-tabPanel header="Pendapatan">
            <app-pendapatan></app-pendapatan>
          </p-tabPanel>
          <p-tabPanel header="Belanja">
            <app-belanja></app-belanja>
          </p-tabPanel>
          <p-tabPanel header="Pembiayaan">
            <app-pembiayaan></app-pembiayaan>
          </p-tabPanel>
          <p-tabPanel header="Pengesahan RKA">
            <app-pengesahan></app-pengesahan>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </div>
</div>