<section id="intro-wrap" class="intro-six-Wrap  text-left text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6 intro-six-LeftSection pb-5">
                <h1 class="introTitle font-weight-bold text-white text-42 mb-3 t-shadow">New SIPKD
                </h1>
                <p class="introDescription text-20 mb-4">New SIPKD atau Sistem Informasi Pengelolaan Keuangan Daerah merupakan aplikasi terpadu yang dipergunakan sebagai alat bantu pemerintah daerah dalam pengelolaan keuangan. Aplikasi New SIPKD ini terdiri dari beberapa Modul Utama, yaitu :</p>
                <div class=" mb-5 lead">
                    <ul class="list-inline">
                        <li class=" mb-3 "><i class="eva eva-checkmark-outline mr-2 text-warning"></i>Modul Penganggaran
                        </li>
                        <li class="mb-3"><i class="eva eva-checkmark-outline mr-2 text-warning"></i> Modul Pelaksanaan Anggaran</li>
                        <li class="mb-3"><i class="eva eva-checkmark-outline mr-2 text-warning"></i> Modul Penatausahaan (Penerimaan dan Pengeluaran)</li>
                        <li class="mb-3"><i class="eva eva-checkmark-outline mr-2 text-warning"></i> Modul Pertanggungjawaban</li>
                    </ul>
                </div>
                <div class="intro-six-Buttons">
                    <a name="" id=""
                        class="btn btn-outline-white btn-lg pl-5 pr-5 pb-2  mr-2 mb-4 text-uppercase half-button"
                        href="javascript:void(0)" (click)="login()" role="button">
                        Login
                    </a>

                </div>

            </div>
            <div class="col-md-6 intro-six-RightSection d-flex align-items-center">

                <div class="intro-six-ProductImage">

                    <img src="./assets/landing/images/landing/Header_1.png" class="img-responsive" alt=""
                        [@animate]="{value:'*',params:{x:'200px',opacity:'0',delay:'100ms', duration: '500ms'}}">
                </div>
            </div>
        </div>
    </div>
    <div class="overlay">

    </div>

</section>
