<div class="container-fluid">
  <div class="row mt-2 p-2">
    <div class="card col-md-12">
      <div class="card-title">
        <h4>Pengaturan - Daftar Pengguna</h4>
      </div>
    </div>
  </div>
  <div class="row p-2">
    <div class="card col-md-12">
      <div class="card-body">
        <p-table [loading]="loading" [value]="listdata" [rowHover]="true" [paginator]="true" [rows]="10" #dt [globalFilterFields]="['userid','nama','group.nmgroup','otorisasi', 'stinsert', 'stupdate','stdelete']">
          <ng-template pTemplate="caption">
            <div class="row p-2">
              <div class="col-md-6" style="text-align: left">
                <button *ngIf="userInfo.Insert === 'True'" type="button" class="btn btn-soft-primary  btn-sm" (click)="add()"><i class="fa fa-plus"></i>&nbsp;Tambah</button>
                &nbsp;
              </div>
              <div class="col-lg-6 col-md-12 text-right pr-0 pl-0">
                <div class="ui-inputgroup col-lg-6 col-md-12" style="float: right;">
                  <span class="ui-inputgroup-addon"><i class="pi pi-search" style="line-height: 1.25;"></i></span>
                  <input type="text" class="w-100" pInputText placeholder="Cari Data" (input)="dt.filterGlobal($event.target.value, 'contains')">         
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 15%;text-align: center" [pSortableColumn]="'userid'">User ID
                <span style="float: right">
                  <p-sortIcon [field]="'userid'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </span>
              </th>
              <th style="width: 20%;text-align: center" [pSortableColumn]="'nama'">Nama
                <span style="float: right">
                  <p-sortIcon [field]="'nama'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </span>
              </th>
              <th style="width: 20%;text-align: center" [pSortableColumn]="'group.nmgroup'">Group
                <span style="float: right">
                  <p-sortIcon [field]="'group.nmgroup'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </span>
              </th>
              <th style="width: 9%;text-align: center" [pSortableColumn]="'otorisasi'">Otorisasi
                <span style="float: right">
                  <p-sortIcon [field]="'otorisasi'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </span>
              </th>
              <th style="width: 8%;text-align: center" [pSortableColumn]="'stinsert'">Ins
                <span style="float: right">
                  <p-sortIcon [field]="'stinsert'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </span>
              </th>
              <th style="width: 8%;text-align: center" [pSortableColumn]="'stupdate'">Upd
                <span style="float: right">
                  <p-sortIcon [field]="'stupdate'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </span>
              </th>
              <th style="width: 8%;text-align: center" [pSortableColumn]="'stdelete'">Del
                <span style="float: right">
                  <p-sortIcon [field]="'stdelete'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </span>
              </th>
              <th style="width: 12%; text-align: center">Pilihan</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr class="ui-selectable-row">
              <td style="text-align: center">{{data.userid ? data.userid.trim() : '' }}</td>
              <td style="text-align: center">{{data.nama}}</td>
              <td style="text-align: center">{{data.group ? data.group.nmgroup : '-'}}</td>
              <td style="text-align: center">{{data.otorisasi}}</td>
              <td style="text-align: center;">
                <i *ngIf="data.stinsert === true" style="color:green" class="fa fa-check"></i>
                <i *ngIf="data.stinsert === false" style="color:red" class="fa fa-ban"></i>
              </td>
              <td style="text-align: center;">
                <i *ngIf="data.stupdate === true" style="color:green" class="fa fa-check"></i>
                <i *ngIf="data.stupdate === false" style="color:red" class="fa fa-ban"></i>
              </td>
              <td style="text-align: center;">
                <i *ngIf="data.stdelete === true" style="color:green" class="fa fa-check"></i>
                <i *ngIf="data.stdelete === false" style="color:red" class="fa fa-ban"></i>
              </td>
              <td style="text-align: center">
                <button *ngIf="userInfo.Update === 'True'" type="button" class="btn btn-warning btn-sm" (click)="update(data)"><i class="fa fa-edit"></i></button>
                &nbsp;
                <button *ngIf="checkBtnUpdate(data)" type="button"class="btn btn-info btn-sm" (click)="resetPassword(data)"><i class="fa fa-key"></i></button>
                &nbsp;
                <button *ngIf="userInfo.Delete === 'True'" type="button" class="btn btn-danger btn-sm" (click)="delete(data)"><i class="fa fa-trash"></i></button> 
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
<app-form-pengguna (callBack)="callback($event)"></app-form-pengguna>