<p-dialog class="forCalender" 
  [(visible)]="showThis"
  (onShow)="onShow()"
  [style]="{width: '70vw'}"
  [modal]="true"
  (onHide)="onHide()"
  [draggable]="false">
  <app-ui-preloader [display]="loading_post"></app-ui-preloader>
  <p-header>
      {{title}}
  </p-header>
  <div class="row">
    <div class="col-md-12">
      <p-table [loading]="loading"
        [value]="listdata"
        [rowHover]="true"
        [paginator]="true"
        [rows]="10"
        #dt
        [globalFilterFields]="['idcheckNavigation.uraian']">
        <ng-template pTemplate="caption">
          <div class="row">
            <div class="col-md-6" style="text-align: left">
              <span *ngIf="(userInfo.GroupId == '1' || userInfo.GroupId == '5') || ( userInfo.Kdgroup == 'bud' && userInfo.Stchecker == 'True')">
                <button type="button" class="btn btn-soft-primary btn-sm" (click)="add()"><i class="fa fa-plus mr-1"></i>Tambah</button>
              </span>
            </div>
            <div class="col-lg-6 col-md-12 text-right pr-0 pl-0">
              <div class="ui-inputgroup col-lg-6 col-md-12" style="float: right;">
                <span class="ui-inputgroup-addon"><i class="pi pi-search" style="line-height: 1.25;"></i></span>
                <input type="text" class="w-100" pInputText placeholder="Cari Data" (input)="dt.filterGlobal($event.target.value, 'contains')">         
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 88%; text-align: center" [pSortableColumn]="'idcheckNavigation.uraian'">Uraian
              <span style="float: right">
                <p-sortIcon [field]="'idcheckNavigation.uraian'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
              </span>
            </th>
            <th style="width: 12%; text-align: center">Pilihan</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
          <tr class="ui-selectable-row">
            <td style="text-align: left">{{data.idcheckNavigation ? data.idcheckNavigation.uraian : ''}}</td>
            <td style="text-align: center">
              <span *ngIf="(userInfo.GroupId == '1' || userInfo.GroupId == '5') || ( userInfo.Kdgroup == 'bud' && userInfo.Stchecker == 'True')">
                <button type="button" class="btn btn-danger btn-sm" (click)="delete(data)"><i class="fa fa-trash"></i></button> 
              </span>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="2" style="text-align: center;">
              Data tidak Tersedia
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p-messages [(value)]="msg"></p-messages>
    </div>
  </div>
  <p-footer>
    <button type="button" class="btn btn-secondary btn-sm" (click)="onHide()"><i class="fa fa-close mr-1"></i>Kembali</button>
  </p-footer>
</p-dialog>
<app-look-checkdok-checkbox (callback)="callbackCheck($event)"></app-look-checkdok-checkbox>
