<div class="container-fluid">
  <div class="row mt-2 p-2">
    <div class="card col-md-12">
      <div class="card-title">
        <h4>{{ title }}</h4>
      </div>
    </div>
  </div>
  <div class="row p-2">
    <div class="card col-md-12">
      <div class="card-body">
        <p-tabView [activeIndex]="tabIndex" (onChange)="onChangeTab($event)">
          <p-tabPanel header="Penerimaan">
            <app-rka61x></app-rka61x>
          </p-tabPanel>
          <p-tabPanel header="Pengeluaran">
            <app-rka62x></app-rka62x>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </div>
</div>