<section id="services-wrap" class="services-wrap light-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-header mb-5">
                <h2 class="font-weight-bold">Layanan Pengaduan</h2>
                <p>Untuk mendukung operasional Pengelolaan Keuangaan di Daerah, aplikasi New SIPKD didukung dengan layanan pengaduan. Media Pengaduan bisa dilakukan melalui Whatsapp, Telepon, email maupun Media Sosial yang lainnya.</p>

            </div>

            <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
                <div class="card o-hidden mb-4">
                    <div class="card-header p-0 text-center ">

                        <img class="img-responsive" src="./assets/landing/images/landing/services/services14.svg">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-capitalize font-weight-bold  ">Whatsapp Group (WAG)</h3>
                        <p class="card-text">Whatsapp Group atau WAG merupakan media komunikasi Internal oleh pengguna aplikasi SIPKD (operator SKPD) di Daerah  dalam menyampaikan permasalahan.</p>
                    </div>
                    <div class="card-footer pl-3">
                        <a href="https://web.whatsapp.com/" target="_blank" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-link-2-outline"></span>
                        </a>
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-share"></span>
                        </a>
                    </div>
                </div>


            </div>
            <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
                <div class="card o-hidden mb-4">

                    <div class="card-header p-0 text-center ">

                        <img class="img-responsive" src="./assets/landing/images/landing/services/services5.svg">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-capitalize font-weight-bold ">Aplikasi Help Desk</h3>
                        <p class="card-text">Selain Whatsapp Group, media layanan lainnya yang disediakan adalah aplikasi Help Desk. Untuk memanfaatkan aplikasi Help Desk ini, bisa masuk ke alamat http://helpdesk.usadi.co.id/</p>

                    </div>
                    <div class="card-footer pl-3">
                        <a href="http://helpdesk.usadi.co.id/" target="_blank" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-link-2-outline"></span>
                        </a>
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-share"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
                <div class="card o-hidden mb-4">

                    <div class="card-header p-0 text-center ">

                        <img class="img-responsive" src="./assets/landing/images/landing/svg/slider9.svg">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-capitalize font-weight-bold ">Email</h3>
                        <p class="card-text">Layanan Email yang bisa digunakan untuk pengaduan adalah helpdesk@intermatika.id</p>
                        <p class="card-text">Untuk email terkait informasi aplikasi maupun informasi lainnya bisa melalui alamat cs@intermatika.id </p>

                    </div>
                    <div class="card-footer pl-3">
                        <a href="mailto: helpdesk@intermatika.id" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-link-2-outline"></span>
                        </a>
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-share"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
                <div class="card o-hidden mb-4">


                    <div class="card-header p-0 text-center ">

                        <img class="img-responsive" src="./assets/landing/images/landing/svg/slider4.svg">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-capitalize font-weight-bold ">Media Sosial Lainnya</h3>
                        <p class="card-text">Media Sosial lainnya yang bisa dimanfaatkan adalah Group Komunitas New SIPKD di Facebook. Layanan ini bisa dimanfaatkan oleh daerah yang belum menggunakan New SIPKD, tetapi tertarik untuk mengetahui atau mempelajari mengenai aplikasi New SIPKD.</p>

                    </div>
                    <div class="card-footer pl-3">
                        <a href="https://www.facebook.com/groups/usadi" target="_blank" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-link-2-outline"></span>
                        </a>
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-share"></span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
                <div class="card o-hidden mb-4 mb-lg-0">

                    <div class="card-header p-0 text-center ">

                        <img class="img-responsive" src="./assets/landing/images/landing/services/services6.svg">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-capitalize font-weight-bold  ">Service Five</h3>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        
                    </div>


                    <div class="card-footer pl-3">
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-link-2-outline"></span>
                        </a>
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-share"></span>
                        </a>
                    </div>
                </div>
            </div> -->

            <!-- <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
                <div class="card o-hidden mb-4 mb-lg-0">


                    <div class="card-header p-0 text-center ">

                        <img class="img-responsive" src="./assets/landing/images/landing/services/services14.svg">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-capitalize font-weight-bold">Service Six</h3>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.
                        </p>

                    </div>
                    <div class="card-footer pl-3">
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-link-2-outline"></span>
                        </a>
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-share"></span>
                        </a>
                    </div>
                </div>
            </div> -->
            <!-- <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
                <div class="card o-hidden mb-4 mb-lg-0 mb-md-0">

                    <div class="card-header p-0 text-center ">

                        <img class="img-responsive" src="./assets/landing/images/landing/services/services15.svg">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-capitalize font-weight-bold">Service Seven</h3>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.
                        </p>

                    </div>
                    <div class="card-footer pl-3">
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-link-2-outline"></span>
                        </a>
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-share"></span>
                        </a>
                    </div>
                </div>
            </div> -->
            <!-- <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
                <div class="card o-hidden  mb-lg-0 mb-md-0">
                    
                    <div class="card-header p-0 text-center ">

                        <img class="img-responsive" src="./assets/landing/images/landing/services/services16.svg">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-capitalize font-weight-bold">Servcie Eight</h3>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.
                        </p>

                    </div>
                    <div class="card-footer pl-3">
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-link-2-outline"></span>
                        </a>
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-share"></span>
                        </a>
                    </div>
                </div>
            </div> -->



        </div>

    </div>

</section>
