<div class="container-fluid">
  <div class="row mt-2 p-2">
    <div class="card col-md-12">
      <div class="card-title">
        <h4>Pengaturan - SK UP</h4>
      </div>
      <div class="card-body">
        <fieldset class="border p-2">
          <legend  class="w-auto">Filter</legend>
          <div class="row">
            <div class="col-md-1">
              <label for="">TAHAPAN</label>
            </div>
            <div class="col-md-6">
              <p-dropdown
              [options]="tahap"
              (onChange)="changeTahap($event)" 
              [(ngModel)]="tahapSelected"
              [style]="{'width': '100%'}"
              [filter]="true"
              #ddtahap
              [ngModelOptions]="{standalone: true}">
            </p-dropdown>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
  <div class="row p-2">
    <div class="card col-md-12">
      <div class="card-body">
        <p-table [value]="listdata" [lazy]="true" #dt (onLazyLoad)="gets($event)" [paginator]="true" [rowHover]="true"
        [rows]="12" [totalRecords]="totalRecords" [loading]="loading">
          <ng-template pTemplate="caption">
            <div class="row p-2">
              <div class="col-md-6" style="text-align: left">
                <button *ngIf="userInfo.Insert === 'True'" [disabled]="!tahapSelected" type="button" class="btn btn-soft-primary btn-sm" (click)="add()"><i class="fa fa-plus"></i>&nbsp;Tambah</button>
                &nbsp;
              </div>
              <div class="col-lg-6 col-md-12 text-right pr-0 pl-0">
                <div class="ui-inputgroup col-lg-6 col-md-12" style="float: right;">
                  <span class="ui-inputgroup-addon"><i class="pi pi-search" style="line-height: 1.25;"></i></span>
                  <input type="text" class="w-100" pInputText placeholder="Cari Data" (input)="dt.filterGlobal($event.target.value, 'contains')">         
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 15%;text-align: center" [pSortableColumn]="'kdunit'">Kode
                <span style="float: right">
                  <p-sortIcon [field]="'kdunit'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </span>
              </th>
              <th style="width: 37%;text-align: center" [pSortableColumn]="'nmunit'">Unit Organisasi
                <span style="float: right">
                  <p-sortIcon [field]="'nmunit'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </span>
              </th>
              <th style="width: 20%;text-align: center" [pSortableColumn]="'nilai'">Nilai Pagu
                <span style="float: right">
                  <p-sortIcon [field]="'nilai'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </span>
              </th>
              <th style="width: 20%;text-align: center" [pSortableColumn]="'nilaiup'">Nilai UP
                <span style="float: right">
                  <p-sortIcon [field]="'nilaiup'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </span>
              </th>
              <th style="width: 8%; text-align: center">Pilihan</th>
            </tr>
            
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr class="ui-selectable-row">
              <td style="text-align: left">{{data.kdunit}}</td>
              <td style="text-align: left">{{data.nmunit}}</td>
              <td style="text-align: right">{{data.nilai | currency: 'IDR':'Rp. ': '0.2-4'}}</td>
              <td style="text-align: right">{{data.nilaiup | currency: 'IDR':'Rp. ': '0.2-4'}}</td>
              <td style="text-align: center">
                <button *ngIf="userInfo.Update === 'True'" type="button" class="btn btn-warning btn-sm" (click)="update(data)"><i class="fa fa-edit"></i></button>
                &nbsp;
                <button *ngIf="userInfo.Delete === 'True'" type="button" class="btn btn-danger btn-sm" (click)="delete(data)"><i class="fa fa-trash"></i></button> 
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="5" style="text-align: center;">
                  Data tidak Tersedia
                </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
<app-form-skup (callBack)="callback($event)"></app-form-skup>