<p-dialog class="forCalender" 
  [(visible)]="showThis"
  (onShow)="onShow()"
  [style]="{width: '40vw'}"
  [modal]="true"
  (onHide)="onHide()"
  [draggable]="false">
  <p-header>
      {{title}} Adendum
  </p-header>
  <app-ui-preloader [display]="loading_post"></app-ui-preloader>
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="forms">
        <div class="row mb-2">
          <div class="col-md-3">
            No. Adendum
          </div>
          <div class="col-md-9">
            <input type="text" formControlName="noadd" placeholder="No Adendum" class="form-control"/>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-3">
            Tgl. Adendum
          </div>
          <div class="col-md-4">
            <p-calendar 
              formControlName="tgladd"
              [showIcon]="true" 
              [locale]="indoKalender"
              [style]="{'width': '100%'}" 
              [monthNavigator]="true"
              yearRange="2000:2030"
              showButtonBar="true"
              [yearNavigator]="true"></p-calendar>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-3">
            No. Kontrak
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control" placeholder="No Kontrak" [(ngModel)]="uiKontrak.kode" readonly [ngModelOptions]="{standalone: true}"/>
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Tanggal Kontrak" [(ngModel)]="uiKontrak.nama" readonly [ngModelOptions]="{standalone: true}"/>
          </div>
          <div class="col-md-1">
              <button type="button" class="btn btn-outline-info" (click)="lookKontrak()"><i class="fa fa-search"></i></button>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-3">
            Nilai Awal
          </div>
          <div class="col-md-4">
            <input type="text" appInputRupiah placeholder="Nilai Awal" class="form-control" formControlName="nilaiawal"/>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-3">
            Nilai Adendum
          </div>
          <div class="col-md-4">
            <input type="text" appInputRupiah placeholder="Nilai Adendum" class="form-control" formControlName="nilaiadd"/>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p-messages [(value)]="msg"></p-messages>
    </div>
  </div>
  <p-footer>
    <button type="button" [disabled]="!forms.valid || loading_post" class="btn btn-success btn-sm" (click)="simpan()"><i class="fa fa-save"></i>&nbsp;Simpan</button>
    <button type="button" [disabled]="loading_post" class="btn btn-secondary btn-sm" (click)="onHide()"><i class="fa fa-close"></i>&nbsp;Kembali</button>
  </p-footer>
</p-dialog>
<app-look-kontrak (callBack)="callbackKontrak($event)"></app-look-kontrak>