<p-dialog [(visible)]="showThis" [style]="{width: '50vw'}" (onShow)="onShow()" [modal]="true" (onHide)="onHide()" [draggable]="false">
  <p-header>
      {{title}}
  </p-header>
  <div class="row" style="max-height: 500px;overflow: auto;">
    <div class="col-md-12">
      <p-tree [value]="listdata" [loading]="loading" selectionMode="single" [(selection)]="dataselected" [style]="{'width': '100%'}"></p-tree>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p-messages [(value)]="msgs"></p-messages>
    </div>
  </div>
  <p-footer>
    <button [disabled]="!dataselected" type="button" class="btn btn-soft-primary btn-sm" (click)="pilih()"><i class="fa fa-check"></i>&nbsp;Pilih</button>
    <button type="button" class="btn btn-soft-secondary btn-sm" (click)="onHide();"><i class="fa fa-close"></i>&nbsp;Kembali</button>
  </p-footer>
</p-dialog>