<div class="container-fluid">
  <div class="row mt-2 p-2">
    <div class="card col-md-12">
      <div class="card-title">
        <h4>LPJ Pengeluaran</h4>
      </div>
    </div>
  </div>
  <div class="row p-2">
    <div class="card col-md-12">
      <div class="card-body">
        <p-tabView [activeIndex]="tabIndex" (onChange)="onChangeTab($event)">
          <p-tabPanel header="Pengajuan LPJ">
            <app-lpj-pengajuan></app-lpj-pengajuan>
          </p-tabPanel>
          <p-tabPanel header="Pengesahan LPJ">
            <app-lpj-pengesahan></app-lpj-pengesahan>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </div>
</div>